extends ../../test/test-template.pug
block content

  <cdx-test name="width">
    <div class="_test">
      <div class="-width--full">full</div>
      <div class="-width--xl">xl</div>
      <div class="-width--l">l</div>
      <div class="-width--m">m</div>
      <div class="-width--s">s</div>
      <div class="-width--xs">xs</div>
    </div>
  </cdx-test>
