extends ../../test/test-template.pug
block content

    <cdx-test name="ge-pill">
        <div style="display:flex; align-items:center;">
          <input id="ge-pill1" type="checkbox" class="ge-pill"></input>
          <label for="ge-pill1" class="ge-pill-style">BUTTON</label>

          <input id="ge-pill2" type="checkbox" class="ge-pill"></input>
          <label for="ge-pill2" class="ge-pill-style fa fa-times">BUTTON</label>

          <input id="ge-pill3" type="checkbox" class="ge-pill"></input>
          <label for="ge-pill3" class="ge-pill-style fa fa-times -icon-align--right">BUTTON</label>
        </div>
    </cdx-test>