extends ../../test/test-template.pug
block content
    <cdx-test name="ge-checkbox">
        <label>here is my label</label>
        <input id="ge-checkbox1" name="ge-checkbox" type="checkbox" class="ge-checkbox">
        <label for="ge-checkbox1" class="ge-checkbox-style">
    </cdx-test>

    <cdx-test name="ge-checkbox with checked(attribute)">
        <input id="ge-checkbox2" type="checkbox" class="ge-checkbox" checked>
        <label for="ge-checkbox2" class="ge-checkbox-style">
        <label>here is my label</label>
    </cdx-test>

    <cdx-test name="ge-checkbox with disabled(attribute)">
        <input id="ge-checkbox3" type="checkbox" class="ge-checkbox" disabled>
        <label for="ge-checkbox3" class="ge-checkbox-style">
    </cdx-test>

    <cdx-test name="ge-checkbox checked(attribute) & disabled(attribute)">
        <input id="ge-checkbox4" type="checkbox" class="ge-checkbox" checked disabled>
        <label for="ge-checkbox4" class="ge-checkbox-style">
    </cdx-test>


    <cdx-test name="ge-checkbox -color--blue">
        <label>here is my label</label>
        <input id="ge-checkbox5" type="checkbox" class="ge-checkbox -color--blue ">
        <label for="ge-checkbox5" class="ge-checkbox-style">
    </cdx-test>
    <cdx-test name="ge-checkbox -color--blue checked(attribute)">
        <span>some text here</span>
        <input id="ge-checkbox6" type="checkbox" class="ge-checkbox -color--blue" checked>
        <label for="ge-checkbox6" class="ge-checkbox-style">
    </cdx-test>

    <cdx-test name="ge-checkbox -color--blue disabled(attribute)">
        <input id="ge-checkbox7" type="checkbox" class="ge-checkbox -color--blue" disabled>
        <label for="ge-checkbox7" class="ge-checkbox-style">
    </cdx-test>

    <cdx-test name="ge-checkbox -color--blue checked(attribute) & disabled(attribute)">
        <input id="ge-checkbox8"  type="checkbox" class="ge-checkbox -color--blue" checked disabled>
        <label for="ge-checkbox8" class="ge-checkbox-style">
    </cdx-test>






    <cdx-test name="ge-checkbox -theme--dark">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox9" type="checkbox" class="ge-checkbox -theme--dark">
            <label for="ge-checkbox9" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark checked(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox10" type="checkbox" class="ge-checkbox -theme--dark" checked>
            <label for="ge-checkbox10" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark disabled(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox11" type="checkbox" class="ge-checkbox -theme--dark" disabled>
            <label for="ge-checkbox11" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark checked(attribute) disabled(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox12" type="checkbox" class="ge-checkbox -theme--dark" checked disabled>
            <label for="ge-checkbox12" class="ge-checkbox-style">
        </div>
    </cdx-test>




    <cdx-test name="ge-checkbox -theme--dark -color--blue">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox13" type="checkbox" class="ge-checkbox -theme--dark -color--blue">
            <label for="ge-checkbox13" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark -color--blue checked(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox14" type="checkbox" class="ge-checkbox -theme--dark -color--blue" checked>
            <label for="ge-checkbox" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark -color--blue disabled(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox14" type="checkbox" class="ge-checkbox -theme--dark -color--blue" disabled>
            <label for="ge-checkbox" class="ge-checkbox-style">
        </div>
    </cdx-test>

    <cdx-test name="ge-checkbox -theme--dark -color--blue checked(attribute) & disabled(attribute)">
        <div style="background-color: #2f3133">
            <input id="ge-checkbox15" type="checkbox" class="ge-checkbox -theme--dark -color--blue" checked disabled>
            <label for="ge-checkbox15" class="ge-checkbox-style">
        </div>
    </cdx-test>