extends ../../test/test-template.pug
block body
  <body class="ge-page -pattern--purposeful -is--minimized -theme--dark">
    <header>
      <div class="ge-navigation -pattern--purposeful -is--minimized">
        include ../navigation/navigation-template2.html
      </div>
    </header>
    <main>
      <section class="-height--vh">
        <div class="ge-box -height--full -padding--m">
          <h3>This is a page</h3>
        </div>
      </section>
    </main>
  </body>
