extends test-template.pug
block content
  <div class="ge-container -spacing--bookends">
    <a href="forge/index.html"><h3>FORGE</h3></a><br/><br/>
    <div class="ge-grid ge_text--left">
      <div class="ge-box">
        <h3>CSS</h3>
        <a href="../css/background/background.html">background</a><br/>
        <a href="../css/font/font.html">font</a><br/>
        <a href="../css/height/height.html">height</a><br/>
        <a href="../css/width/width.html">width</a><br/>
        <a href="../css/text/text.html">text</a><br/>
      </div>
      <div class="ge-box">
        <h3>Components</h3>
        <a href="../components/badge/badge.html">badge</a><br/>
        <a href="../components/button/button.html">button</a><br/>
        <strong>Selection Controls</strong>
          <li><a href="../components/checkbox/checkbox.html">checkbox</a><br/>
          <li><a href="../components/radio-button/radio-button.html">radio-button</a><br/>
          <li><a href="../components/toggle/toggle.html">toggle</a><br/>
        <a href="../components/lockup/lockup.html">lockup</a><br/>
        <strong>Menus</strong>
          <li><a href="../components/menu/menu.html">menu</a><br/>
          <li><a href="../components/dropdown-button/dropdown-button.html">dropdown-button</a><br/>
        <a href="../components/pagination/pagination.html">pagination</a><br/>
        <a href="../components/pill/pill.html">pill</a><br/>
        <a href="../components/progress-indicator/progress-indicator.html">progress-indicator</a><br/>
        <a href="../components/tabs/tabs.html">tabs</a><br/>
        <strong>Text fields</strong>
          <li><a href="../components/text-fields/text-area.html">text-area</a><br/>
          <li><a href="../components/text-fields/text-input.html">text-input</a><br/>
        <a href="../components/tooltip/tooltip.html">tooltip</a><br/>
      </div>
      <div class="ge-box">
        <h3>components</h3>
        <a href="../components/card/card.html">card</a><br/>
        <a href="../components/datatable/datatable.html">datatable</a><br/>
        <a href="../components/footer/footer.html">footer</a><br/>
        <strong>Forms</strong>
          <li><a href="../components/form/form.html">form</a><br/>
          <li><a href="../components/form/form-item.html">form-item</a><br/>
        <strong>Layout</strong>
          <li><a href="../components/box/box.html">box</a><br/>
          <li><a href="../components/container/container.html">container</a><br/>
          <li><a href="../components/grid/grid.html">grid</a><br/>
        <strong>Navigation</strong>
          <li><a href="../components/navigation/navigation.html">navigation</a><br/>
          <li><a href="../components/layout/layout-engaging.html">layout-engaging</a><br/>
          <li><a href="../components/layout/layout-engaging-min.html">layout-engaging-min</a><br/>
          <li><a href="../components/layout/layout-engaging-sticky.html">layout-engaging-sticky</a><br/>
          <li><a href="../components/layout/layout-optimistic.html">layout-optimistic</a><br/>
          <li><a href="../components/layout/layout-optimistic-min.html">layout-optimistic-min</a><br/>
          <li><a href="../components/layout/layout-purposeful.html">layout-purposeful</a><br/>
          <li><a href="../components/layout/layout-purposeful-min.html">layout-purposeful-min</a><br/>
      </div>
  </div>
