extends ../../test/test-template.pug
block content

  <cdx-test name="ge-footer" theme="true">
    <footer class="ge-footer">
      <div class="ge-footer__copyright">© 2016 GENERAL ELECTRIC</div>
      <div class="ge-footer__brand">
        <div class="ge-lockup">
          <span class="ge-lockup__monogram"></span>
        </div>
      </div>
      <div class="ge-footer__legal">
        <a href="http://www.ge.com/privacy" target="_blank">PRIVACY</a>
        <a href="http://www.ge.com/terms" target="_blank">TERMS OF USE</a>
        <a href="http://www.ge.com/cookies" target="_blank">USE OF COOKIES</a>
        <a href="http://www.ge.com/accessibility" target="_blank">ACCESSIBILITY</a>
      </div>
    </footer>
  </cdx-test>

  <cdx-test name="footer no classname" theme="true">
    <footer>
      <div class="ge-footer__copyright">© 2016 GENERAL ELECTRIC</div>
      <div class="ge-footer__brand">
        <div class="ge-lockup">
          <span class="ge-lockup__monogram"></span>
        </div>
      </div>
      <div class="ge-footer__legal">
        <a href="http://www.ge.com/privacy" target="_blank">PRIVACY</a>
        <a href="http://www.ge.com/terms" target="_blank">TERMS OF USE</a>
        <a href="http://www.ge.com/cookies" target="_blank">USE OF COOKIES</a>
        <a href="http://www.ge.com/accessibility" target="_blank">ACCESSIBILITY</a>
      </div>
    </footer>
  </cdx-test>

  <cdx-test name="ge-footer advanced" theme="true">
    <div class="ge-grid -padding--m">
      <div class="ge-box">Content</div>
      <div class="ge-box">Content</div>
      <div class="ge-box">Content</div>
      <div class="ge-box">Content</div>
    </div>
    <div class="ge-footer">
      <div class="ge-footer__copyright">© 2016 GENERAL ELECTRIC</div>
      <div class="ge-footer__brand">
        <div class="ge-lockup">
          <span class="ge-lockup__monogram"></span>
        </div>
      </div>
      <div class="ge-footer__legal">
        <a href="http://www.ge.com/privacy" target="_blank">PRIVACY</a>
        <a href="http://www.ge.com/terms" target="_blank">TERMS OF USE</a>
        <a href="http://www.ge.com/cookies" target="_blank">USE OF COOKIES</a>
        <a href="http://www.ge.com/accessibility" target="_blank">ACCESSIBILITY</a>
      </div>
    </div>
  </cdx-test>
