extends ../../test/test-template.pug
block content

  <cdx-test name="padding">
      <div class="_test">
        <div class="-padding--none">padding none</div>
        <div class="-padding--xs">padding xs</div>
        <div class="-padding--s">padding s</div>
        <div class="-padding--m">padding m</div>
        <div class="-padding--l">padding l</div>
        <div class="-padding--xl">padding xl</div>
        <div class="-padding--m -padding--topbottom">padding topbottom</div>
        <div class="-padding--m -padding--leftright">padding leftright</div>
      </div>
  </cdx-test>
