extends ../../test/test-template.pug
block content

  <cdx-test name="ge-lockup monogram" theme="true">
    <div class="ge-lockup">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup">
      <span class="ge-lockup__monogram -color--gray"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup sizes">
    <div class="ge-lockup -size--smallest">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup align right-top">
    <div class="ge-lockup -size--smallest -align--right-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small -align--right-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium -align--right-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large -align--right-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest -align--right-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup align left">
    <div class="ge-lockup -size--smallest -align--left">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small -align--left">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium -align--left">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large -align--left">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest -align--left">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup align left-top">
    <div class="ge-lockup -size--smallest -align--left-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small -align--left-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium -align--left-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large -align--left-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest -align--left-top">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup align bottom">
    <div class="ge-lockup -size--smallest -align--bottom">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small -align--bottom">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium -align--bottom">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large -align--bottom">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest -align--bottom">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup img only">
    <div class="ge-lockup -size--smallest -is--img-only">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--small -is--img-only">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--medium -is--img-only">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--large -is--img-only">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
    <div class="ge-lockup -size--largest -is--img-only">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </cdx-test>

  <cdx-test name="ge-lockup img" theme="true">
    <div class="ge-lockup">
      <img src="/pages/core-design/core-css/test-output/test/resources/bridge.jpeg">
      <span class="ge-lockup__brand">This is a bridge</span>
    </div>
    <div class="ge-lockup -align--bottom">
      <img src="/pages/core-design/core-css/test-output/test/resources/bridge.jpeg">
      <span class="ge-lockup__brand">This is a bridge</span>
    </div>
    <div class="ge-lockup -size--largest -align--left-top">
      <img src="/pages/core-design/core-css/test-output/test/resources/bridge.jpeg">
      <span class="ge-lockup__brand">This is a bridge</span>
    </div>
  </cdx-test>
