extends ../../test/test-template.pug
block content
  <cdx-test name="backgrounds">
    <div class="-color--blue-darker-2">-color--blue-darker-2</div>
    <div class="-color--blue-darker-1">-color--blue-darker-1</div>
    <div class="-color--blue">-color--blue</div>
    <div class="-color--blue-lighter-1">-color--blue-lighter-1</div>
    <div class="-color--blue-lighter-2">-color--blue-lighter-2</div>
    <div>&nbsp;</div>
    <div class="-color--gray-darker-2">-color--gray-darker-2</div>
    <div class="-color--gray-darker-1">-color--gray-darker-1</div>
    <div class="-color--gray">-color--gray</div>
    <div class="-color--gray-lighter-1">-color--gray-lighter-1</div>
    <div class="-color--gray-lighter-2">-color--gray-lighter-2</div>
    <div class="-color--gray-lighter-3">-color--gray-lighter-3</div>
    <div class="-color--gray-lighter-4">-color--gray-lighter-4</div>
    <div>&nbsp;</div>
    <div class="-color--white">-color--white</div>
    <div>&nbsp;</div>
    <div class="-color--green">-color--green</div>
    <div class="-color--green-lighter-1">-color--green-lighter-1</div>
    <div>&nbsp;</div>
    <div class="-color--theme-light">-color--theme-light</div>
    <div class="-color--theme-dark">-color--theme-dark</div>

  </cdx-test>
