extends ../../test/test-template.pug

block content
  include index-editor.html
block scripts
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="/pages/core-design/core-css/test-output/test/components.js"></script>
  <script src="/pages/core-design/core-css/test-output/test/forge/index.js"></script>
