extends ../../test/test-template.pug
block content
  <cdx-test name="font colors">
    <div class="-font--sans">This is the styling for .-font--sans</div>
    <div class="-font--serif">This is the styling for .-font--serif</div>
  </cdx-test>
  <cdx-test name="font colors">
    <div class="-font-color--white" style="background-color:#000;">This is the styling for .-font-color--white</div>
    <div>&nbsp;</div>
    <div class="-font-color--blue">This is the styling for .-font-color--blue</div>
    <div class="-font-color--blue-darker-2">This is the styling for .-font-color--blue-darker-2</div>
    <div>&nbsp;</div>
    <div class="-font-color--gray-lighter-1">This is the styling for .-font-color--gray-lighter-1</div>
    <div class="-font-color--gray">This is the styling for .-font-color--gray</div>
    <div class="-font-color--gray-darker-1">This is the styling for .-font-color--gray-darker-1</div>
    <div>&nbsp;</div>
    <div class="-font-color--theme-light">This is the styling for .-font-color--theme-light</div>
    <div class="-font-color--theme-dark" style="background-color:#000;">This is the styling for .-font-color--theme-dark</div>
  </cdx-test>
  <cdx-test name="font sizes">
    <div class="-font--plus-6">This is the styling for .-font--plus-6</div>
    <div class="-font--plus-5">This is the styling for .-font--plus-5</div>
    <div class="-font--plus-4">This is the styling for .-font--plus-4</div>
    <div class="-font--plus-3">This is the styling for .-font--plus-3</div>
    <div class="-font--plus-2">This is the styling for .-font--plus-2</div>
    <div class="-font--plus-1">This is the styling for .-font--plus-1</div>
    <div class="-font--body">This is the styling for .-font--body</div>
    <div class="-font--minus-1">This is the styling for .-font--minus-1</div>
    <div class="-font--minus-2">This is the styling for .-font--minus-2</div>
    <div class="-font--minus-3">This is the styling for .-font--minus-3</div>
    <div class="-font--minus-4">This is the styling for .-font--minus-4</div>
    <div class="-font--minus-5">This is the styling for .-font--minus-5</div>
  </cdx-test>
  <cdx-test name="font tags">
    <h1>This is the styling for H1</h1>
    <h2>This is the styling for H2</h2>
    <h3>This is the styling for H3</h3>
    <h4>This is the styling for H4</h4>
    <h5>This is the styling for H5</h5>
    <h6>This is the styling for H6</h6>
    <p>This is the styling for p</p>
    <blockquote>This is the styling for blockquote</blockquote>
    <div>This is the styling for body</div>
  </cdx-test>
  <cdx-test name="font tag classname">
    <div class="-font--h1">This is the styling for .-font--h1</div>
    <div class="-font--h2">This is the styling for .-font--h2</div>
    <div class="-font--h3">This is the styling for .-font--h3</div>
    <div class="-font--h4">This is the styling for .-font--h4</div>
    <div class="-font--h5">This is the styling for .-font--h5</div>
    <div class="-font--h6">This is the styling for .-font--h6</div>
    <div class="-font--p">This is the styling for .-font--p</div>
    <div class="-font--blockquote">This is the styling for .-font--blockquote</div>
  </cdx-test>
