/* padding and margins */
:root {
  --size-0_0625rem: 0.0625rem;
  --size-0_125rem: 0.125rem;
  --size-0_25rem: 0.25rem;
  --size-0_5rem: 0.5rem;
  --size-0_75rem: 0.75rem;
  --size-1rem: 1rem;
  --size-1_125rem: 1.125rem;
  --size-1_25rem: 1.25rem;
  --size-1_5rem: 1.5rem;
  --size-1_625rem: 1.625rem;
  --size-1_75rem: 1.75rem;
  --size-2rem: 2rem;
  --size-2_25rem: 2.25rem;
  --size-2_5rem: 2.5rem;
  --size-3rem: 3rem;
  --size-3_25rem: 3.25rem;
  --size-3_5rem: 3.5rem;
  --size-4rem: 4rem;
  --size-5rem: 5rem;
  --size-6rem: 6rem;
  --size-7rem: 7rem;
  --size-10rem: 10rem;
  --size-20rem: 20rem;

  --size--full: 100%;
  --size--xl: 90rem;
  --size--l: 80rem;
  --size--m: 60rem;
  --size--s: 40rem;
  --size--xs: 20rem;
}
