<div class="ge-navigation__control">
  <button class="ge-button -fill--transparent -is--icon"><i class="fa fa-bars"></i></button>
</div>
<div class="ge-navigation__main">
  <div class="ge-navigation__brand">
    <div class="ge-lockup">
      <span class="ge-lockup__monogram"></span>
      <span class="ge-lockup__brand">Core Design by GE</span>
    </div>
  </div>
  <nav role="navigation" class="ge-navigation__primary">
    <div class="ge-tabs -hover--background">
      <div class="ge-tab__item -is--active">
        <i class="fa fa-home"></i>
        <span class="ge-tab__label">PRODUCTS</span>
      </div>
      <div class="ge-tab__item">
        <i class="fa fa-bar-chart-o"></i>
        <span class="ge-tab__label">SERVICES</span>
      </div>
      <div class="ge-tab__item -is--disabled">
        <i class="fa fa-industry"></i>
        <span class="ge-tab__label">INDUSTRIES</span>
      </div>
      <div class="ge-tab__item">
        <i class="fa fa-heartbeat"></i>
        <span class="ge-tab__label">INCREDIBLY LONG NAVIGATION ITEM TO DISPLAY</span>
      </div>
    </div>
  </nav>
  <div class="ge-navigation__supplemental">SUPPLEMENTAL NAVIGATION 1<br/>SUPPLEMENTAL NAVIGATION 2</div>
</div>
<div class="ge-navigation__secondary">
  <div class="ge-navigation__utility">
    <button class="ge-button -fill--transparent -is--icon"><i class="fa fa-facebook"></i></button>
    <button class="ge-button -fill--transparent -is--icon"><i class="fa fa-twitter"></i></button>
    <button class="ge-button -fill--transparent -is--icon"><i class="fa fa-google-plus"></i></button>
  </div>
  <div class="ge-navigation__persistant">
    <button class="ge-button -fill--transparent -is--icon"><i class="fa fa-search"></i></button>
  </div>
  <div class="ge-navigation__footer">© 2016 GENERAL ELECTRIC</div>
</div>
