extends ../../test/test-template.pug
block content

    <cdx-test name="progress indicator">
        <progress value="0.8" class="ge-progress-indicator"></progress>

        <progress value="0.8" class="ge-progress-indicator -color--green"></progress>
    </cdx-test>