/* LOCAL VARIABLES */
:root {

  --labelAlignHorizontal {
    width: 33%;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  --textInputDense {
    padding-right: var(--spacing-0_5rem);
    padding-left: var(--spacing-0_5rem);
    min-height: 2.25rem;
    font-size: var(--inputFontSizeDense);
    width: calc(100% - (2 * var(--spacing-0_5rem)) )
  }

  --labelDense {
    font-size: 0.79rem;
    padding-top: var(--spacing-1_5rem);
    padding-bottom: var(--spacing-0_25rem);
    word-wrap: break-word;
  }

  --textInputStandard {
    font-size: var(--inputFontSizeStandard);
    min-height: var(--size-3rem);
    padding-right: var(--spacing-1rem);
    padding-left: var(--spacing-1rem);
    width: calc(100% - (2 * var(--spacing-1rem)) )
  }

  --labelStandard {
    font-size: var(--size-1rem);
    padding-top: var(--spacing-2rem);
    padding-bottom: var(--spacing-0_5rem);
    display: block;
    word-wrap: break-word;
  }

 --placeholderStandard {
    font-size: var(--inputFontSizeStandard);
  }

  --placeholderDense {
    font-size: var(--inputFontSizeDense);
  }

}

/* BASE COMPONENT */

/* PSUEDO CLASSES */

/* last form item on form */

form .ge-form__item:last-of-type,
.ge-form .ge-form__item:last-of-type {
  margin-bottom: var(--spacing-2rem);
}

/* placeholders */

form.-spacing--standard .ge-form__item .ge-text-input::-webkit-input-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-input::-webkit-input-placeholder,
form.-spacing--standard .ge-form__item .ge-text-area::-webkit-input-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-area::-webkit-input-placeholder {
  @apply --placeholderStandard;
}

form.-spacing--standard .ge-form__item .ge-text-input::-moz-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-input::-moz-placeholder,
form.-spacing--standard .ge-form__item .ge-text-area::-moz-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-area::-moz-placeholder {
  @apply --placeholderStandard;
}

form.-spacing--standard .ge-form__item .ge-text-input:-ms-input-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-input:-ms-input-placeholder,
form.-spacing--standard .ge-form__item .ge-text-area:-ms-input-placeholder,
.ge-form.-spacing--standard .ge-form__item .ge-text-area:-ms-input-placeholder {
  @apply --placeholderStandard;
}

form.-spacing--dense .ge-form__item .ge-text-input::-webkit-input-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-input::-webkit-input-placeholder,
form.-spacing--dense .ge-form__item .ge-text-area::-webkit-input-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-area::-webkit-input-placeholder {
  @apply --placeholderDense;
}

form.-spacing--dense .ge-form__item .ge-text-input::-moz-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-input::-moz-placeholder,
form.-spacing--dense .ge-form__item .ge-text-area::-moz-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-area::-moz-placeholder {
  @apply --placeholderDense;
}

form.-spacing--dense .ge-form__item .ge-text-input:-ms-input-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-input:-ms-input-placeholder,
form.-spacing--dense .ge-form__item .ge-text-area:-ms-input-placeholder,
.ge-form.-spacing--dense .ge-form__item .ge-text-area:-ms-input-placeholder {
  @apply --placeholderDense;
}

/* PROPERTIES */

/* spacing */

form.-spacing--dense .ge-form__item .ge-text-input,
.ge-form.-spacing--dense .ge-form__item .ge-text-input,
form.-spacing--dense .ge-form__item .ge-text-area,
.ge-form.-spacing--dense .ge-form__item .ge-text-area {
  @apply --textInputDense;
}

form.-spacing--dense .ge-form__item .ge-label,
.ge-form.-spacing--dense .ge-form__item .ge-label {
  @apply --labelDense;
}

form.-spacing--standard .ge-form__item .ge-text-input,
.ge-form.-spacing--standard .ge-form__item .ge-text-input,
form.-spacing--standard .ge-form__item .ge-text-area,
.ge-form.-spacing--standard .ge-form__item .ge-text-area {
  @apply --textInputStandard;
}

form.-spacing--standard .ge-form__item .ge-label,
.ge-form.-spacing--standard .ge-form__item .ge-label  {
  @apply --labelStandard;
}

/* Horizontal Label Alignment */

form.-label-align--horizontal .ge-form__item,
.ge-form.-label-align--horizontal .ge-form__item {
    display: flex;
}

form.-label-align--horizontal .ge-form__item > .ge-label,
.ge-form.-label-align--horizontal .ge-form__item > .ge-label {
  @apply --labelAlignHorizontal;
}

form.-label-align--horizontal .ge-form__item,
form.-label-align--horizontal.-spacing--standard .ge-form__item,
.ge-form.-label-align--horizontal .ge-form__item,
.ge-form.-label-align--horizontal.-spacing--standard .ge-form__item {
  margin-top: var(--spacing-2rem);
}

form.-label-align--horizontal.-spacing--dense .ge-form__item,
.ge-form.-label-align--horizontal.-spacing--dense .ge-form__item {
  margin-top: var(--spacing-1_5rem);

}

form.-label-align--horizontal .ge-form__item .ge-form__controls
.ge-form.-label-align--horizontal .ge-form__item .ge-form__controls {
  margin-left: var(--spacing-0_5rem);
}

/* Vertical label alignment */

form.-label-align--vertical .ge-form__item .ge-label,
.ge-form.-label-align--vertical .ge-form__item .ge-label {
  display: block;
}

/* STATES */

/* VARIENTS */
