extends ../../test/test-template.pug
block content

  <cdx-test name="Horizontal labels layout for a form">
    <form style="width: 66%" class="ge-form -label-align--horizontal">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Vertical labels layout for a form">
    <form class="ge-form -label-align--vertical">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Dense Horizontal labels layout for a form">
    <form style="width:100%;" class="ge-form -label-align--horizontal -spacing--dense">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Dense Vertical labels layout for a form">
    <form class="ge-form -label-align--vertical -spacing--dense">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <input type="text" class="ge-text-input" placeholder="Please enter something">
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Horizontal labels on left and right">
    <form class="ge-form -label-align--horizontal">
      <div style="display:flex; display: -webkit-flex; display: -webkit-box;">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Vertical and dense labels on left and right">
    <form class="ge-form -label-align--horizontal -spacing--dense">
      <div  style="display:flex; ">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Using the ge-form class on a div">
    <div class="ge-form -label-align--horizontal -spacing--dense">
      <div  style="display:flex; display: -webkit-flex; display: -webkit-box;">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <input type="text" class="ge-text-input" placeholder="Please enter something">
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdx-test>

  <cdx-test name="Horizontal labels layout for a form">
    <form class="ge-form -label-align--horizontal">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Vertical labels layout for a form">
    <form class="ge-form -label-align--vertical">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Dense Horizontal labels layout for a form">
    <form class="ge-form -label-align--horizontal -spacing--dense">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Dense Vertical labels layout for a form">
    <form class="ge-form -label-align--vertical -spacing--dense">
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
      <div class="ge-form__item">
        <label class="ge-label">This is a label</label>
        <div class="ge-form__controls">
          <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
          <div class="ge-label--helper">This is some helper text</div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Horizontal labels on left and right">
    <form class="ge-form -label-align--horizontal">
      <div style="display:flex; display: -webkit-flex; display: -webkit-box;">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdx-test>
  <cdx-test name="Vertical and dense labels on left and right">
    <form class="ge-form -label-align--vertical -spacing--dense">
      <div style="display:flex; display: -webkit-flex; display: -webkit-box;">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdx-test>
    <cdx-test name="Using the ge-form class on a div">
    <div class="ge-form -label-align--horizontal -spacing--dense">
      <div style="display:flex; display: -webkit-flex; display: -webkit-box;">
        <div style="width:50%; margin-right: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
        <div style="width: 50%; margin-left: 1rem">
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
          <div class="ge-form__item">
            <label class="ge-label">This is a label</label>
            <div class="ge-form__controls">
              <textarea rows="5" class="ge-text-area" placeholder="Please enter something"></textarea>
              <div class="ge-label--helper">This is some helper text</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdx-test>