extends ../../test/test-template.pug
block content
    <cdx-test name="ge-badge">
        <h5><div style="position:relative;background-color:red;height:100px;width:100px;"><span class="ge-badge">1</span></div></h5><br>
        <i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i>
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">1</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge">
        <h5><div style="position:relative;background-color:red;height:100px;width:100px;"><span class="ge-badge">17</span></div></h5><br>
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">17</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">17</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">17</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">17</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">17</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge">
        <h5><div style="position:relative;background-color:red;height:100px;width:100px;"><span class="ge-badge">171</span></div></h5><br>
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">171</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">171</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">171</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">171</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge">171</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge"><i class="fa fa-check"></i></span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge"><i class="fa fa-check"></i></span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge"><i class="fa fa-check"></i></span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge"><i class="fa fa-check"></i></span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge"><i class="fa fa-check"></i></span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -fill--transparent">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent">17</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent">17</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent">17</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent">17</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent">17</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -fill--transparent">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent"><i class="fa fa-check"></i></span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent"><i class="fa fa-check"></i></span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent"><i class="fa fa-check"></i></span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent"><i class="fa fa-check"></i></span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -fill--transparent"><i class="fa fa-check"></i></span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -size--micro">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -size--micro"></span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -size--micro"></span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -size--micro"></span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -size--micro"></span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -size--micro"></span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -corner--square ">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square ">171</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square ">171</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square ">171</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square ">171</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square ">171</span></i></h1>
    </cdx-test>
       <cdx-test name="ge-badge -corner--square ">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square   -color-green">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square   -color-green">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square   -color-green">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square   -color-green">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -corner--square   -color-green">1</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -round">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round">171</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round">171</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round">171</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round">171</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round">171</span></i></h1>
    </cdx-test>
        <cdx-test name="ge-badge -round">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round  -color-green">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round  -color-green">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round  -color-green">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round  -color-green">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -round  -color-green">1</span></i></h1>
    </cdx-test>

    <cdx-test name="ge-badge -position--right">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -position--right">
        <h5><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--right">1</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge -position--bottom">
        <h5><i class="fa fa-circle " style="position: relative; "><span class="ge-badge -position--bottom">1</span></i></h5>
        <h4><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--bottom">1</span></i></h4>
        <h3><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--bottom">1</span></i></h3>
        <h2><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--bottom">1</span></i></h2>
        <h1><i class="fa fa-circle " style="position: relative;"><span class="ge-badge -position--bottom">1</span></i></h1>
    </cdx-test>
    <cdx-test name="ge-badge">
        <i class="fa fa-circle " style="position: relative;font-size:2rem; border:1px solid red;"><span class="ge-badge">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:3rem;border:1px solid red;"><span class="ge-badge">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:4rem;border:1px solid red;"><span class="ge-badge">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:5rem;border:1px solid red;"><span class="ge-badge">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:6rem;border:1px solid red;"><span class="ge-badge">1</span></i>
    </cdx-test>    
    <cdx-test name="ge-badge -position--right">
        <i class="fa fa-circle " style="position: relative;font-size:2rem;border:1px solid red;"><span class="ge-badge -position--right">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:3rem;border:1px solid red;"><span class="ge-badge -position--right">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:4rem;border:1px solid red;"><span class="ge-badge -position--right">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:5rem;border:1px solid red;"><span class="ge-badge -position--right">1</span></i>
        <i class="fa fa-circle " style="position: relative;font-size:6rem;border:1px solid red;"><span class="ge-badge -position--right">1</span></i>
    </cdx-test>   
   
    
    

